<import: src=subnav>
<import: src=chat>
<import: src=play>
<import: src=temple-state>

<Title:>
  Temple Match

<Header:>
  <body>
  <ui:connectionAlert>


<Body:>
  <app:subnav:subnav>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3 results">
        <app:temple-state:temple-state>
      </div><!--/span-->
      <div class="span6 play">
        <div class="hero-unit">
          <app:play:play>

        </div>
      </div><!--/span-->
      <div class="span3 chat">
        <div class="well sidebar-nav">
          <app:chat:chat>
        </div><!--/.well -->
      </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
      <p>&copy; FamilySearch 2012</p>
    </footer>

  </div><!--/.fluid-container-->

<scripts:>
  <script type="text/javascript" src="/js/jquery.min.js"></script>

