.row-fluid .span3, .row-fluid .span6 {
  width:90%
}

.all .row-fluid .span3 {
  width:25%;
}

.all .row-fluid .span6 {
  width:45%;
}

.all #temple-state iframe, #floater iframe {
	border: black solid 5px;
	padding: 20px;
	padding-right: 20px;
	width: 90%;
  min-height: 480px;
}

.span3 {
  min-width: 245px;
}

.span6 {
  min-width:400px;
}

#text-input {
 margin-bottom:0;
}

ol.temples {
	list-style: none;
    list-style:none; /* Disable the normal item numbering */
  margin-left: 0;
  padding-left: 0;
}

ol.temples li {
	position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 4px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border:2px solid #929090;
    background:#f6f6f6;
    float:left;
    margin:50px;
}

ol.temples li a {
  display:block;
  width: 220px;
}

.temples img.temple-image {
  min-width: 128px;
  max-height: 214px;
  font-size:18px;
  float:left;
}

ul.temple-results img.temple-image {
  height:128px;
  width:214px;
  float:none;
  clear:both;
}

img.temple-image.selected {
	border: green solid 5px;
}

li a.selected {
	border: green solid 5px;
}

li a.selected select {
  display:inline-block;
}

ol.temples h4 { 
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	font-size:10px;
}

/* For modern browsers */
.cf:before,
.cf:after {content:""; display:table;clear:both;}

/* For IE 6/7 (trigger hasLayout) */
.cf {zoom:1;}

#messages {
  margin-top: 30px;
}

a input,
a select {
  margin-top:10px;
}

.main-header {
  margin-top:-30px;
  padding:20px;
}

.success {
  background-image:url('../images/success.jpg');
}