<h2 style="position: fixed;top: -20px;padding: 0px;">Chat Window</h2>
<div id="messages"></div>
<div >
<input type="text" id="text-input">
<input type="button" value="Send" id="send-button" style="position:fixed;top: 10px;left: 290px;">
</div>


<script>
  $(document).ready(function(){
  chatNow();
    
  });
</script>