<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>This is an example of an embedded chat window added to any site. <a href='#' id='chat'>Chat with us</a></p>

<div id="temple-state"></div>

<div id="floater" ></div>
