<hr>
<hr>

<%- partial("subnav.ejs") %>

<div class="all container-fluid">
  <div class="row-fluid">
    <div class="span3 results">
      <%- partial("temple-state.ejs") %>
    </div><!--/span-->
    <div class="span6 play">
      <div class="hero-unit">
        <%- partial("play.ejs") %>

      </div>
    </div><!--/span-->
    <div class="span3 chat">
        <div class="well sidebar-nav">
        <%- partial("chat.ejs") %>
        </div><!--/.well -->
      </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; FamilySearch 2012</p>
  </footer>

</div><!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


