<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Example of an embedded chat window added to any site. <a href='#' id='chat'>Chat</a></p>
<p>Example of an embedded active window. <a href='#' id='play'>Play Temple Match</a></p>

<div id="temple-state"></div>

<div id="floater" ></div>
