<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel=StyleSheet href="/css/temple.css" type="text/css" media=screen>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
    <script src="/nowjs/now.js"></script>
    <script src="/js/startup.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/play.js"></script>
    <script src="/js/temple-state.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>