<h1 class='main-header'>Match Temples</h1>
<p>Work together to match temple to name. Your results are shown on the left. You can ask questions or share secrets in the chat to the right.</p>
<div class="success"></div>
<ol class="temples cf"></ol>
</script>