<h1> Match Temples </h1>

<p>Work together to match temples to names. Results are on the left.  Ask questions or share cheats to the right.</p>
<h2 class='myScore'></h2>
<div class="success"></div>
<ol class="temples cf"></ol>
</script>