<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= title %></a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Logged in as <a href="#" class="navbar-link">Username</a>
        </p>
        <ul class="nav">
          <li class="active"><a id='all' href="#all">All</a></li>
          <li><a id='results' href="#results">Results</a></li>
          <li><a id='play' href="#play">Play</a></li>
          <li><a id='chat' href="#chat">Chat</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
