<h2 style="position: fixed;top: -20px;padding: 0px;">Temples Matched</h2>
<h2 style="position: fixed;top: -20px;padding: 0px;right:20px">Contributions</h2>

<ol class="temples"></ol>
<ul class="scores"></ul>

<script>
  $(document).ready(function(){
  templeState();
  });
</script>